body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CUSTOM CSS */

  /* Dropdown menu */
    .dd-list {
      padding-inline-start: 0px;
      margin-top: 0;
      list-style: none;
    }

    .dd-wrapper {
      display: inline-block;
      overflow: hidden;
    }

    .dd-encoder-list {
      float: left;
    }

    .dd-decoder-list {
      float: left;
    }

    .dd-list-button {
      margin-left: 5px;
      margin-right: 5px;
    }
  
  /* Textareas for input and output */
    .textarea-input {
      width: 400px;
      height: 100px;
      margin-top: 10px;
      /* margin-bottom: 10px; */
    }

    .textarea-output {
      width: 400px;
      height: 100px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
  /* Buttons */
    .buttons {
      margin-bottom: 10px;
    }