body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CUSTOM CSS */

  /* Dropdown menu */
    .dd-list {
      padding-inline-start: 0px;
      margin-top: 0;
    }

    .dd-header {
      padding-bottom: 15px
    }
  
  /* Textareas for input and output */
    .textarea {
      width: 400px;
      height: 100px;
    }